<div class="container">
  <section class="sign-up">
    <nz-card nzTitle="Registro" *ngIf="signUpForm" class="sign-up__card">
      <form nz-form [nzLayout]="'inline'" [formGroup]="signUpForm"
            class="sign-up__form"
            (ngSubmit)="submitSignUpForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor ingresa tu nombre!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="name" nz-input placeholder="Nombre" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor ingresa tu correo!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="email" nz-input placeholder="Correo"
                     type="email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor ingresa tu contraseña!">
            <nz-input-group nzPrefixIcon="lock">
              <input formControlName="password" nz-input type="password"
                     placeholder="Contraseña" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary"
                    [disabled]="!signUpForm.valid">Registro
            </button>

          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <a [routerLink]="['/auth','sign-in']">Iniciar sesión!</a>
        </nz-form-item>
      </form>
    </nz-card>
  </section>
</div>
